@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <title>Login</title>
    </head>
    <body>
        <main class="tamanho">
            <section>
                <img src="imgs/Doctor-icon.png" alt="Foto de Perfil" title="Foto
                    de Perfil" class="imglogin">
            </section>

            <form>
                <div class="mb-3">
                    <label for="email" class="form-label">E-mail:</label>
                    <input type="email" lass="form-control" required
                        placeholder="exemplo@exemplo.com">
                </div>
                <div class="mb-3">
                    <label for="senha">Senha:</label>
                    <input type="password" class="form-label" required
                        placeholder="*******">
                </div>
                <a asp-area="" asp-controller="Remedio" asp-action="Index">
                <button type="button" class="btn btn-primary btn-lg">Entrar</button>
                </a>
            </form>
            <br>
            <div>
              <a href="#" target="_blank" rel="noopener noreferrer"> Crie sua conta aqui!</a>
            </div>
        </main>
    </body>
</html>
